STATS_API_BASE_URL=http://api.hub.matrixdobrasil.ai:50002
STATS_API_TOKEN=coloque_o_token_real_aqui

FLASHMAN_URL=coloque_a_url_real_aqui
FLASHMAN_USER=coloque_o_usuario_real_aqui
FLASHMAN_PASSWORD=coloque_a_senha_real_aqui
